.gye {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.rectangle {
    position: absolute;
    width: 1440px;
    height: 106px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(229, 229, 232, 0.8);
}